<h1>Bem Vindo</h1>
<p><strong>Data:</strong> <%=data_br(Date.today) %></p>
<p><%= nome_aplicacao%></p>

<%= render "menu" %>

<p>
    Voce esta em ambiente de <strong><%= ambiente_rails %> </strong>
</p>
<p>
    meu nome é <%= @nome%> e meu curso é <%= @curso%>
</p>